<div class="header">
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row" style="margin-top: 3.2%;">
        <app-step-status-bar></app-step-status-bar>
    </div>
</div>
<div class="content" style="background-color: rgba(228, 192, 198, 0.432);overflow: auto;z-index:1000;">


    <fieldset>
        <div class="blockDiv" style="margin-top: 10%;">
            <fieldset class="fieldsetCss">
                <legend>Habits</legend>
                <div class="rowDiv">

                    <label style="margin-left: 3%;">Food Habit:</label>
                    <select class="blockSelectBox" style="margin-left: 20%;">
    <option class="optionField">Non-Veg</option>
</select>
                    <label style="margin-left: 20%;">Smoking:</label>
                    <select class="blockSelectBox" style="margin-left: 22%;">
<option class="optionField">No</option>
</select>
                </div>
                <div class="lastRowDivOfBlock">
                    <label class="blockDivFirstColumn">Drinking:</label>
                    <select class="blockSelectBox" style="margin-left: 21%;">
                <option class="optionField">No</option>
            </select>

                </div>
            </fieldset>
        </div>
        <div class="blockDiv">
            <fieldset class="fieldsetCss">
                <legend>Hobbies And Interest</legend>
                <div class="rowDiv">
                    <input class="blockDivFirstColumn" type="checkbox" id="cooking" value="Cooking">
                    <label style="margin-left: 3%;">Cooking</label>
                    <input style="margin-left: 18%;" type="checkbox" id="nature" value="nature">
                    <label style="margin-left: 3%;">Nature</label>
                    <input style="margin-left: 18%;" type="checkbox" id="photography" value="photography">
                    <label style="margin-left: 3%;">Photography</label>
                    <input style="margin-left: 18%;" type="checkbox" id="dancing" value="dancing">
                    <label style="margin-left: 3%;">Dancing</label>
                </div>
                <div class="rowDiv">
                    <input class="blockDivFirstColumn" type="checkbox" id="painting" value="painting">
                    <label style="margin-left: 3%;">Painting</label>
                </div>
                <div class="rowDiv">
                    <input class="blockDivFirstColumn" type="checkbox" id="pet" value="pet">
                    <label style="margin-left: 3%;">Pet</label>
                    <input style="margin-left: 20.2%;" type="checkbox" id="musicIns" value="musicIns">
                    <label style="margin-left: 3%;">Playing Music  and Instrument</label>
                    <input style="margin-left: 6%;" type="checkbox" id="puzzle" value="puzzle">
                    <label style="margin-left: 3%;">Puzzle</label>
                    <input style="margin-left: 21.2%;" type="checkbox" id="gardening" value="gardening">
                    <label style="margin-left: 3%;">Gardening</label>
                </div>
                <div class="rowDiv">
                    <input class="blockDivFirstColumn" type="checkbox" id="artCraft" value="artCraft">
                    <label style="margin-left: 3%;">Art and Craft</label>
                </div>
                <div class="lastRowDivOfBlock">
                    <input class="blockDivFirstColumn" type="checkbox" id="listeningMusic" value="listeningMusic">
                    <label style="margin-left: 3%;">Listening Music</label>
                    <input style="margin-left: 13.3%;" type="checkbox" id="traveling" value="traveling">
                    <label style="margin-left: 3%;">Traveling</label>
                    <input style="margin-left: 17.2%;" type="checkbox" id="internetSuffring" value="internetSuffring">
                    <label style="margin-left: 3%;">Internet Suffring</label>
                    <input style="margin-left: 15.5%;" type="checkbox" id="movies" value="movies">
                    <label style="margin-left: 3%;">Movie</label>
                </div>
            </fieldset>
        </div>
        <div class="blockDiv">

            <fieldset class="fieldsetCss">
                <legend>Sport And Fitness</legend>
                <div class="rowDiv">

                    <input class="blockDivFirstColumn" type="checkbox" id="cricket" value="cricket">
                    <label style="margin-left: 3%;">Cricket</label>
                    <input style="margin-left: 18%;" type="checkbox" id="carrom" value="carrom">
                    <label style="margin-left: 3%;">Carrom</label>
                    <input style="margin-left: 18%;" type="checkbox" id="chess" value="chess">
                    <label style="margin-left: 3%;">Chess</label>
                    <input style="margin-left: 22%;" type="checkbox" id="jogging" value="jogging">
                    <label style="margin-left: 3%;">Jogging</label>
                </div>
                <div class="lastRowDivOfBlock">
                    <input class="blockDivFirstColumn" type="checkbox" id="badminton" value="badminton">
                    <label style="margin-left: 3%;">Badminton</label>
                    <input style="margin-left: 16%" class="blockDivFirstColumn" type="checkbox" id="tennis" value="tennis">
                    <label style="margin-left: 3%;">Tennis</label>
                    <input style="margin-left: 18.8%;" type="checkbox" id="football" value="football">
                    <label style="margin-left: 3%;">Football</label>
                    <input style="margin-left: 21%;" type="checkbox" id="swimming" value="swimming">
                    <label style="margin-left: 3%;">Swimming</label>

                </div>

            </fieldset>
        </div>



        <div style="margin-bottom: 2%; margin-top: 2%; text-align: center;">
            <nav>
                <input class="submitBtn" type="button" value="submit" routerLink="/myprofile">

                <!-- <input class="submitBtn" style="margin-left: 2%;" type="button" value="skip" > -->
                <a routerLink="/myprofile" routerLinkActive="active" style="margin-left: 10%;">Skip</a>
            </nav>
        </div>
    </fieldset>

</div>