<div style="position: fixed;z-index:1000; background-color: blue;">
    <table>
        <tr>
            <td>
                <h3 class="circle">1</h3>

            </td>
            <td style="width:30%">
                <hr size="4" width="100%" color="gray">
            </td>
            <td>
                <h3 class="circle">2</h3>
            </td>
            <td style="width: 35%;">
                <hr size="4" width="100%" color="gray">
            </td>
            <td>
                <h3 class="circle">3</h3>
            </td>
            <td style="width: 70%;">
                <hr size="4" width="100%" color="gray">
            </td>
            <td>
                <h3 class="circle">4</h3>
            </td>

        </tr>
        <tr>
            <td>
                <h6>Infomation</h6>
            </td>
            <td>

            </td>
            <td>
                <h6>Preferences</h6>
            </td>
            <td>

            </td>
            <td>
                <h6>Picture</h6>
            </td>
            <td>

            </td>
            <td>
                <h6> Profile</h6>
            </td>
        </tr>
    </table>
</div>