<div class="ragistration">
    <div class=" pb " style="background-color:saddlebrown;">

        <label style="margin-left: 3%;"> PavitriVandhan</label>

        <button class="submitBtn" style="margin-left: 70%;" type="button " (click)="show()">Sign In</button>



    </div>

    <div style="width: 30%; text-align: center;margin-top: 5%; margin-left:35%;">
        <fieldset class="fieldsetCssForFirstRegisteration" style="background-color: sienna; opacity: 0.8;">
            <form [formGroup]='registerationDetails' (ngSubmit)='onRegisterDetailsSubmit()'>
                <div>
                    <label class="label_css">Free Registration</label></div>
                <div>
                    <label class="label_color">Enter Your Name:</label>
                    <input class="input_field" placeholder="Enter Your Full Name *" type=" text " formControlName="userName" />
                </div>
                <div>
                    <label class="label_color">Enter Your Email:</label>
                    <input class="input_field" placeholder="Enter Email Address *" type="email " formControlName="userEmail" />
                </div>
                <div>
                    <label class="label_color">Gender:</label>
                    <input type="radio" id="male" name="userGender" value="male" style="margin-left: 25%;" formControlName="userGender">
                    <label class="label_color" for="male">Male</label>
                    <input type="radio" id="female" name="userGender" value="female" formControlName="userGender">
                    <label class="label_color" for="female">Female</label>
                    <input type="radio" id="other" name="userGender" value="other" formControlName="userGender">
                    <label class="label_color" for="other">Other</label><br>
                </div>
                <div>

                    <div style="margin-top: 2%;">
                        <label class="label_color" style="margin-right: 8%;">Mother Tongue:</label>
                        <select class="blockSelectBox" style="margin-right: 18%;" id=" languege " formControlName="userMotherTongue">
<option class=" optionField " value="select ">-Select-</option>
</select>
                    </div>
                    <div style="margin-top: 2%; ">
                        <label class="label_color " style="margin-right: 15%;">Profile For :</label>
                        <select class="blockSelectBox " id="profile_for " style="margin-right: 18%;" formControlName="userProfileOwner">
  <option class="optionField " value="Select ">-Select-</option>
  
</select></div>
                    <div style="margin-top: 2%; ">
                        <label class="label_color " style="margin-right: 20%;">Religion :</label>
                        <select class="blockSelectBox " style="margin-right: 18%;" id="religion_selection " (change)="castelist($event.target.value) " formControlName="religion_id">
            <option class="optionField " *ngFor="let religion of religionList " [value]="religion.religion_id ">{{religion.religion_name}}</option>
        </select></div>
                    <div style="margin-top: 2%; ">
                        <label class="label_color " style="margin-right: 25%;">Caste :</label>
                        <select class="blockSelectBox " style="margin-right: 18%;" id="caste_selection " formControlName="caste_id">
            <option class="optionField " *ngFor="let caste of castes " [value]='caste.caste_id'>{{caste.caste_name}}</option>
        </select></div>
                    <div style="margin-top: 5%; ">
                        <button class="submitBtn " type="button ">Submit</button>
                    </div>

                </div>
            </form>
        </fieldset>
    </div>
    <div>
        <hr>
    </div>

</div>



<!--Login Pop start-->


<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color :whitesmoke;">
            <div>
                <span class="close" data-dismiss="modal" (click)="hide()">&times;</span>


            </div>
            <div class="modal-body" style="text-align: center; ">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" style="margin-left: 3%;">
                        <label>Email: *</label>
                        <input class="inputTextField" style="margin-left: 15%;" placeholder="Enter Your Email *" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 3%;">
                        <label>Password: *</label>
                        <input type="password" style="margin-left: 8%;" class="inputTextField" placeholder="Enter Your Password *" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group form-check" style="margin-left: 20%;">
                        <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
              </label>
                    </div>
                    <button type="submit" class="submitBtn">Sign In</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
            </div> -->
        </div>
    </div>
</div>