<div class="header">

    <app-header></app-header>

</div>

<div *ngIf="valueD">{{ errorMsg }}</div>
<div class="content" style="z-index:1000;" *ngIf="valueD">
    <div class="row" style="background-color:  rgba(228, 192, 198, 0.432);">
        <div class="column" style="margin-top: 5%;">
            <fieldset style="margin-left: 50px; ">
                <div class="row" style="margin-bottom: 10px; margin: auto;height: 200px;">

                    <div class="column" style="width: 150px;">
                        <img style="width: 100px;" src="assets/images/maleDummy.png">
                    </div>
                    <div class="column">
                        <label>{{val.userName}}<br>{{val.userCaste.caste_name}}-{{val.userReligion.religion_name}}</label>

                    </div>

                    <div class="verticalLine"></div>
                    <div class="column" style="margin-left: 50px;">
                        <div class="row">
                            <p>Add Details To your Profile</p>
                        </div>


                    </div>
                </div>
                <fieldset>
                    <legend>Critical Inforamtion</legend>
                    <div class="row" style="margin: auto; width: 600px;height: 200px; overflow: hidden;">

                        <div class="column" style="width:300px; margin-left: 50px;">
                            <div class="row">
                                <label>Age</label>
                            </div>
                            <div class="row">
                                <label>Matrial Status</label>
                            </div>
                            <div class="row">
                                <label>Annual Income</label>
                            </div>
                        </div>
                        <div class="column">
                            <div class="row">
                                <label>23 yeras (10 june 1997)</label>
                            </div>
                            <div class="row">
                                <label>Never Married</label>
                            </div>
                            <div class="row">
                                <label>5,50,000/-</label>
                            </div>
                        </div>


                    </div>
                    <div class="row" style="width: 600px;height: 200px">
                        <div class="column" style="margin-left: 5%;">
                            <div class="row">
                                <div class="column" style="width: 400px;">
                                    <label>About me</label>
                                </div>
                                <div class="column" style="margin-left:150px;">

                                    <a href="Edit">Edit</a>
                                </div>
                            </div>


                            <div class="row">

                                <textarea readonly rows="6" cols="80"></textarea>


                            </div>

                        </div>
                    </div>

                </fieldset>

            </fieldset>
        </div>
        <div class="column" style="margin-left: 10px; margin-top: 5%; width: 600px ;overflow: hidden;">

            <fieldset>
                <div class="row" style="margin-left: 20px; margin: auto;">
                    <div class="column">
                        <label>Inforamtion about You </label>
                    </div>
                    <div class="column" style="margin-left: 350px; text-align: right;">
                        <a href="">Edit</a>
                    </div>
                </div>

                <div class="row" style="margin-left: 10px;">
                    <div class="column">
                        <label>Address:</label>
                    </div>
                    <div class="column">
                        <label>Etah Uttar Pradesh India</label>
                    </div>
                </div>
                <div>
                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Physical Characteristics</legend>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Height:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label>5.11 ft</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Weight:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label>70 kg</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Body Type:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="margin_left">xxx</label>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Complexion :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label>fear</label>
                            </div>
                            <div class="column" style="margin-left: 10px; width: 120px;">
                                <label>Physical Status :</label>
                            </div>
                            <div class="column" style="width: 60px;">
                                <label>No</label>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Educational Information</legend>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Education</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label>MCA</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>University :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label>Deemad</label>
                            </div>
                            <div class="column" style="margin-left: 20px;width: 120px">
                                <label>Type :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="margin_left">xxx</label>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Occupation</legend>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Emp. Type :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.11 ft</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Occ.Type :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">70 kg</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Income :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">45000/-</label>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Ann. Income :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.5</label>
                            </div>


                        </div>
                    </fieldset>
                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Family</legend>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Family Status: :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.11 ft</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Type: :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">70 kg</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Value:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">45000/-</label>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Member:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.5</label>
                            </div>
                            <div class="column" style="width: 120px;">
                                <label>Cont. No.:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.5</label>
                            </div>
                            <div class="column" style="width: 120px;">
                                <label>Ann. Inc.:</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.5</label>
                            </div>


                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Habit</legend>
                        <div class="row" style="margin-left: 20px;">

                            <div class="column" style="width: 120px;">
                                <label>Food :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">5.11 ft</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Smoking :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">70 kg</label>
                            </div>
                            <div class="column" style="margin-left: 10px;width: 120px">
                                <label>Drinking :</label>
                            </div>
                            <div class="column" style="width: 50px;">
                                <label class="answer_label">45000/-</label>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Hobbies And Interest</legend>
                        <div class="row" style="margin-left: 20px;">


                        </div>

                    </fieldset>
                    <fieldset class="my_profile_fieldset">
                        <legend class="my_profile_legend">Sport And Fitness</legend>
                        <div class="row" style="margin-left: 20px;">


                        </div>

                    </fieldset>
                </div>
            </fieldset>
        </div>

    </div>
</div>